/* Form Yapısı */
.iletisim-formu {
  max-width: 700px;
  margin: 32px auto 0;
}

.iletisim-yapisi {
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.75rem;
  font-weight: 500;
  color: white;
}

input,
textarea,
select {
  width: 100%;
  padding: 16px;
  border: 2px solid #333333;
  border-radius: 12px;
  font-size: 16px;
  transition: all 0.3ms ease;
  font-family: inherit;
  background-color: #000000;
  color: #ffffff;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: #fa5aff;
  box-shadow: 0 0 0 3px rgba(250, 90, 255, 0.2);
}

textarea {
  resize: vertical;
  min-height: 140px;
}

.checkbox-group,
.radio-group {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  margin-top: 12px;
}

.checkbox-item,
.radio-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.checkbox-item input,
.radio-item input {
  width: auto;
  margin: 0;
  color: #e048e5;
}

button {
  background: linear-gradient(135deg, #e048e5, #fa5aff);
  color: white;
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(250, 90, 255, 0.2);
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(250, 90, 255, 0.204) 0px 4.12314px 6.5849px 0px;
}

@media screen and (max-width: 768px) {
  .iletisim {
    padding: 20px;
  }

  .iletisim h2,
  .iletisim p {
    text-align: center;
  }

  .iletisim h2 {
    padding-bottom: 20px;
  }

  .form {
    width: 100%;
    text-align: center;
  }
}
