@import "./header.css";
@import "./about.css";
@import "./navbar.css";
@import "./talent.css";
@import "./project.css";
@import "./education.css";
@import "./experience.css";
@import "./communication-form.css";
@import "./services.css";
@import "./footer.css";

/*Tüm sitenin default fontu
:root{
  font-size: 20px;
}
*/



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #ffffff;
  background: #000000;
}
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 200px;
}

main {
  padding: 4rem 0;
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0 120px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 0 100px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 40px;
  }
}
